@tailwind base;
@tailwind components;
@tailwind utilities;

/* PREVENT OVERSCROLL */
html,
body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

/* STOP STICKY NAVBAR */
.stop-nav {
    bottom: auto;
    top: auto;
}

/* REMOVE SCROLLBAR INDICATOR */
body::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

.snap-y {
    scroll-snap-type: y mandatory;
}

.snap-mandatory > * {
    scroll-snap-align: start;
}