@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:400,700,600,italic|Libre+Caslon+Display:400|Libre+Caslon+Text:400,700,italic");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Libre Caslon Condensed-Italic";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/66378b0ef5dec739242980a8/fonts/librecasloncondensed-italic.ttf")
    format("truetype");
}

.DESKTOP-home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .DESKTOP-home-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1200px;
    height: 5929px;
    position: relative;
  }
  
  .DESKTOP-home-page .overlap {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 4001px;
    left: 0;
    background-image: url(https://c.animaapp.com/Woq3bvYz/img/rectangle-25.png);
    background-size: 100% 100%;
  }
  
  .DESKTOP-home-page .currated-works {
    position: absolute;
    top: 55px;
    left: 76px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #5c05d7;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper {
    font-weight: 500;
  }
  
  .DESKTOP-home-page .span {
    font-family: "Libre Caslon Display", Helvetica;
  }
  
  .DESKTOP-home-page .text-wrapper-2 {
    font-family: "Libre Caslon Condensed-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
  }
  
  .DESKTOP-home-page .overlap-group {
    position: absolute;
    width: 348px;
    height: 494px;
    top: 153px;
    left: 64px;
  }
  
  .DESKTOP-home-page .rectangle {
    position: absolute;
    width: 348px;
    height: 416px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .DESKTOP-home-page .p {
    position: absolute;
    width: 347px;
    top: 415px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #5c05d7;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .group {
    position: absolute;
    width: 122px;
    height: 30px;
    top: 24px;
    left: 21px;
  }
  
  .DESKTOP-home-page .div-wrapper {
    position: relative;
    width: 120px;
    height: 30px;
    border-radius: 72px;
    border: 1px solid;
    border-color: #5c05d7;
  }
  
  .DESKTOP-home-page .text-wrapper-3 {
    position: absolute;
    width: 90px;
    top: 2px;
    left: 14px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #5c05d7;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .overlap-wrapper {
    position: absolute;
    width: 34px;
    height: 32px;
    top: 23px;
    left: 295px;
  }
  
  .DESKTOP-home-page .overlap-2 {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid;
    border-color: #5c05d7;
  }
  
  .DESKTOP-home-page .text-wrapper-4 {
    position: absolute;
    width: 30px;
    height: 29px;
    top: 0;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #5c05d7;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-5 {
    width: 348px;
    top: 647px;
    font-weight: 400;
    font-style: italic;
    color: #5c05d7;
    font-size: 16px;
    position: absolute;
    left: 64px;
    font-family: "Plus Jakarta Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .overlap-3 {
    position: absolute;
    width: 348px;
    height: 494px;
    top: 153px;
    left: 426px;
  }
  
  .DESKTOP-home-page .text-wrapper-6 {
    left: 426px;
    position: absolute;
    width: 348px;
    top: 647px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #5c05d7;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .overlap-4 {
    position: absolute;
    width: 348px;
    height: 494px;
    top: 153px;
    left: 788px;
  }
  
  .DESKTOP-home-page .text-wrapper-7 {
    left: 788px;
    position: absolute;
    width: 348px;
    top: 647px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #5c05d7;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .more-w-hover-button {
    position: absolute;
    width: 198px;
    height: 49px;
    top: 703px;
    left: 501px;
    background-color: #5c05d7;
    border-radius: 72px;
  }
  
  .DESKTOP-home-page .text-wrapper-8 {
    position: absolute;
    width: 146px;
    height: 25px;
    top: 10px;
    left: 26px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #f6f5f1;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .overlap-5 {
    position: absolute;
    width: 1200px;
    height: 328px;
    top: 5601px;
    left: 0;
    background-color: #000000;
    border: 1px solid;
    border-color: #04020a;
  }
  
  .DESKTOP-home-page .logo-adiwow {
    position: absolute;
    width: 97px;
    height: 96px;
    top: 166px;
    left: 63px;
  }
  
  .DESKTOP-home-page .text-wrapper-9 {
    position: absolute;
    width: 114px;
    top: 189px;
    left: 335px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .pameran-tugas-akhir {
    position: absolute;
    width: 256px;
    top: 209px;
    left: 335px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-10 {
    position: absolute;
    width: 256px;
    top: 186px;
    left: 831px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-11 {
    position: absolute;
    width: 256px;
    top: 240px;
    left: 831px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .element-lockup-vertical {
    position: absolute;
    width: 92px;
    height: 108px;
    top: 155px;
    left: 176px;
  }
  
  .DESKTOP-home-page .vector {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 184px;
    left: 1111px;
  }
  
  .DESKTOP-home-page .logo-dkv {
    position: absolute;
    width: 122px;
    height: 76px;
    top: 66px;
    left: 164px;
  }
  
  .DESKTOP-home-page .PCU-logo-master-BW {
    position: absolute;
    width: 77px;
    height: 76px;
    top: 66px;
    left: 63px;
  }
  
  .DESKTOP-home-page .overlap-6 {
    position: absolute;
    width: 1200px;
    height: 801px;
    top: 3200px;
    left: 0;
  }
  
  .DESKTOP-home-page .img {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 1px;
    left: 0;
  }
  
  .DESKTOP-home-page .img-2 {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .DESKTOP-home-page .button-VR-earth {
    position: absolute;
    width: 680px;
    height: 680px;
    top: 60px;
    left: 260px;
    object-fit: cover;
  }
  
  .DESKTOP-home-page .virtual-experience {
    position: absolute;
    top: 407px;
    left: 232px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-12 {
    font-weight: 700;
    font-style: italic;
  }
  
  .DESKTOP-home-page .text-wrapper-14 {
    font-family: "Libre Caslon Text", Helvetica;
    font-weight: 600;
    font-style: italic;
    margin-left: 5px;
  }
  
  .DESKTOP-home-page .text-wrapper-15 {
    position: absolute;
    top: 567px;
    left: 538px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #f6f5f1;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .element-lockup-vertical-2 {
    position: absolute;
    width: 172px;
    height: 226px;
    top: 143px;
    left: 514px;
  }
  
  .DESKTOP-home-page .overlap-7 {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 800px;
    left: 0;
    background-image: url(https://c.animaapp.com/Woq3bvYz/img/bg-ttg-kelana.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .DESKTOP-home-page .text-wrapper-16 {
    position: absolute;
    width: 256px;
    top: 374px;
    left: 153px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .overlap-8 {
    position: absolute;
    width: 573px;
    height: 381px;
    top: 258px;
    left: 472px;
  }
  
  .DESKTOP-home-page .overlap-9 {
    position: absolute;
    width: 573px;
    height: 348px;
    top: 0;
    left: 0;
  }
  
  .DESKTOP-home-page .dokum {
    position: absolute;
    width: 256px;
    height: 348px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .DESKTOP-home-page .text-wrapper-17 {
    position: absolute;
    width: 528px;
    top: 158px;
    left: 45px;
    font-family: "Libre Caslon Condensed-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #f6f5f1;
    font-size: 128px;
    text-align: right;
    letter-spacing: 0;
    line-height: 100px;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .text-wrapper-18 {
    position: absolute;
    width: 102px;
    height: 34px;
    top: 315px;
    left: 317px;
    font-family: "Libre Caslon Text", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 100px;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .text-wrapper-19 {
    position: absolute;
    width: 371px;
    top: 117px;
    left: 153px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #f6f5f1;
    font-size: 96px;
    letter-spacing: 0;
    line-height: 100px;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .text-wrapper-20 {
    position: absolute;
    width: 256px;
    top: 263px;
    left: 155px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-21 {
    position: absolute;
    width: 256px;
    top: 639px;
    left: 789px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .overlap-10 {
    position: absolute;
    width: 1200px;
    height: 1600px;
    top: 1600px;
    left: 0;
    background-image: url(https://c.animaapp.com/Woq3bvYz/img/bg-tl-2-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .DESKTOP-home-page .upcoming-events {
    position: absolute;
    width: 619px;
    top: 904px;
    left: 64px;
    font-size: 64px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-22 {
    font-weight: 700;
  }
  
  .DESKTOP-home-page .text-wrapper-23 {
    position: absolute;
    width: 386px;
    top: 142px;
    left: 297px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #f6f5f1;
    font-size: 64px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .group-2 {
    position: absolute;
    width: 351px;
    height: 562px;
    top: 163px;
    left: 789px;
  }
  
  .DESKTOP-home-page .text-wrapper-24 {
    position: absolute;
    width: 339px;
    top: 0;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-25 {
    position: absolute;
    width: 339px;
    top: 103px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-26 {
    position: absolute;
    width: 339px;
    top: 206px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-27 {
    position: absolute;
    width: 339px;
    top: 309px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-28 {
    position: absolute;
    width: 339px;
    top: 412px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-29 {
    position: absolute;
    width: 339px;
    top: 515px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .upcoming {
    position: absolute;
    width: 1200px;
    height: 64px;
    top: 800px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .DESKTOP-home-page .overlap-group-wrapper {
    position: relative;
    width: 2406px;
    height: 64px;
    left: -8px;
  }
  
  .DESKTOP-home-page .overlap-11 {
    position: relative;
    height: 64px;
  }
  
  .DESKTOP-home-page .rectangle-2 {
    position: absolute;
    width: 2398px;
    height: 64px;
    top: 0;
    left: 8px;
    background-color: #f00506;
  }
  
  .DESKTOP-home-page .group-3 {
    position: absolute;
    width: 2406px;
    height: 64px;
    top: 0;
    left: 0;
  }
  
  .DESKTOP-home-page .overlap-12 {
    position: relative;
    width: 2389px;
    height: 64px;
  }
  
  .DESKTOP-home-page .group-wrapper {
    position: absolute;
    width: 2389px;
    height: 36px;
    top: 13px;
    left: 0;
  }
  
  .DESKTOP-home-page .group-4 {
    position: relative;
    width: 2395px;
    height: 36px;
  }
  
  .DESKTOP-home-page .overlap-group-2 {
    position: absolute;
    width: 1804px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .DESKTOP-home-page .frame-wrapper {
    position: absolute;
    width: 1616px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .DESKTOP-home-page .frame {
    display: inline-flex;
    align-items: center;
    gap: 22px;
    padding: 0px 24px;
    position: relative;
  }
  
  .DESKTOP-home-page .upcoming-event {
    position: relative;
    width: fit-content;
    font-size: 24px;
    text-align: right;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-30 {
    font-style: italic;
  }
  
  .DESKTOP-home-page .group-5 {
    position: relative;
    width: 37.42px;
    height: 36px;
  }
  
  .DESKTOP-home-page .upcoming-event-2 {
    position: relative;
    width: fit-content;
    font-family: "Libre Caslon Text", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-31 {
    font-family: "Plus Jakarta Sans", Helvetica;
  }
  
  .DESKTOP-home-page .group-6 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -2463px;
  }
  
  .DESKTOP-home-page .group-7 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -2463px;
    margin-right: -145px;
  }
  
  .DESKTOP-home-page .upcoming-event-3 {
    position: absolute;
    top: 3px;
    left: 1616px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .group-8 {
    position: absolute;
    width: 37px;
    height: 36px;
    top: -2450px;
    left: 1963px;
  }
  
  .DESKTOP-home-page .upcoming-event-4 {
    position: absolute;
    top: 3px;
    left: 1885px;
    font-family: "Libre Caslon Text", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .group-9 {
    position: absolute;
    width: 37px;
    height: 36px;
    top: -2450px;
    left: 2221px;
  }
  
  .DESKTOP-home-page .upcoming-event-5 {
    position: absolute;
    top: 3px;
    left: 2144px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .group-10 {
    position: absolute;
    width: 37px;
    height: 36px;
    top: -2450px;
    left: 2489px;
  }
  
  .DESKTOP-home-page .group-11 {
    position: absolute;
    width: 1200px;
    height: 64px;
    top: 0;
    left: 8px;
  }
  
  .DESKTOP-home-page .ketupat-opor-ayam {
    position: absolute;
    width: 347px;
    height: 346px;
    top: 1033px;
    left: 64px;
    object-fit: cover;
  }
  
  .DESKTOP-home-page .rectangle-3 {
    position: absolute;
    width: 351px;
    height: 350px;
    top: 1030px;
    left: 425px;
    object-fit: cover;
  }
  
  .DESKTOP-home-page .rectangle-4 {
    position: absolute;
    width: 352px;
    height: 350px;
    top: 1030px;
    left: 789px;
    object-fit: cover;
  }
  
  .DESKTOP-home-page .text-wrapper-32 {
    width: 347px;
    top: 1408px;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    left: 64px;
    font-family: "Plus Jakarta Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-33 {
    width: 351px;
    left: 425px;
    position: absolute;
    top: 1408px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-34 {
    width: 347px;
    left: 786px;
    position: absolute;
    top: 1408px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-35 {
    position: absolute;
    width: 347px;
    top: 1453px;
    left: 64px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-36 {
    left: 425px;
    position: absolute;
    width: 347px;
    top: 1453px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-37 {
    left: 786px;
    position: absolute;
    width: 347px;
    top: 1453px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .group-12 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 187px;
    left: 736px;
  }
  
  .DESKTOP-home-page .vector-2 {
    position: absolute;
    width: 4px;
    height: 479px;
    top: 232px;
    left: 753px;
  }
  
  .DESKTOP-home-page .overlap-13 {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 4801px;
    left: 0;
    background-image: url(https://c.animaapp.com/Woq3bvYz/img/rectangle-6.png);
    background-size: 100% 100%;
  }
  
  .DESKTOP-home-page .in-partnerships-with {
    position: absolute;
    top: 111px;
    left: 64px;
    font-family: "Libre Caslon Condensed-Regular", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .DESKTOP-home-page .text-wrapper-38 {
    font-family: "Libre Caslon Condensed-Regular", Helvetica;
    font-weight: 400;
    color: #f6f5f1;
    font-size: 64px;
    letter-spacing: 0;
  }
  
  .DESKTOP-home-page .text-wrapper-39 {
    font-family: "Libre Caslon Condensed-Italic", Helvetica;
    font-style: italic;
  }
  
  .DESKTOP-home-page .rectangle-5 {
    position: absolute;
    width: 161px;
    height: 160px;
    top: 269px;
    left: 282px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-6 {
    position: absolute;
    width: 161px;
    height: 160px;
    top: 269px;
    left: 520px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-7 {
    position: absolute;
    width: 161px;
    height: 160px;
    top: 269px;
    left: 757px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-8 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 471px;
    left: 319px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-9 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 471px;
    left: 635px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-10 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 471px;
    left: 477px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-11 {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 471px;
    left: 793px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-12 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 601px;
    left: 573px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-13 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 601px;
    left: 737px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-14 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 601px;
    left: 245px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-15 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 601px;
    left: 409px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .rectangle-16 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 601px;
    left: 901px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .DESKTOP-home-page .div-2 {
    position: absolute;
    width: 1208px;
    height: 48px;
    top: 0;
    left: 0;
  }
  
  .DESKTOP-home-page .vector-3 {
    position: absolute;
    width: 32px;
    height: 5px;
    top: 0;
    left: 1128px;
  }
  
  .DESKTOP-home-page .navbar {
    position: relative;
    width: 1200px;
    height: 48px;
  }
  
  .DESKTOP-home-page .rectangle-17 {
    position: absolute;
    width: 1200px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    opacity: 0.8;
  }
  
  .DESKTOP-home-page .text-wrapper-40 {
    width: 44px;
    left: 386px;
    position: absolute;
    top: 16px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #f6f5f1;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .text-wrapper-41 {
    position: absolute;
    width: 123px;
    top: 16px;
    left: 485px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #f6f5f1;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .text-wrapper-42 {
    width: 38px;
    left: 663px;
    position: absolute;
    top: 16px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #f6f5f1;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .text-wrapper-43 {
    position: absolute;
    width: 57px;
    top: 16px;
    left: 756px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #f6f5f1;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .DESKTOP-home-page .logo-adw-kelana {
    position: absolute;
    width: 81px;
    height: 35px;
    top: 6px;
    left: 64px;
  }
  
  .DESKTOP-home-page .vector-4 {
    position: absolute;
    width: 33px;
    height: 22px;
    top: 13px;
    left: 1102px;
  }
  
  .DESKTOP-home-page .group-13 {
    position: absolute;
    width: 2395px;
    height: 132px;
    top: 3511px;
    left: -2533px;
  }
  
  .DESKTOP-home-page .group-14 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3561px;
    margin-right: -1348.92px;
  }
  
  .DESKTOP-home-page .group-15 {
    margin-top: -3561px;
    margin-right: -1607.34px;
    position: relative;
    width: 37.42px;
    height: 36px;
  }
  
  .DESKTOP-home-page .group-16 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3561px;
    margin-right: -1874.75px;
  }
  
  .DESKTOP-home-page .group-17 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3561px;
    margin-right: -2144.17px;
  }
  
  .DESKTOP-home-page .group-18 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3561px;
    margin-right: -2402.58px;
  }
  
  .DESKTOP-home-page .group-19 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3561px;
    margin-right: -2670px;
  }
  
  .DESKTOP-home-page .group-20 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 45px;
    left: 1963px;
  }
  
  .DESKTOP-home-page .group-21 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 45px;
    left: 2221px;
  }
  
  .DESKTOP-home-page .group-22 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 45px;
    left: 2489px;
  }
  
  .DESKTOP-home-page .overlap-14 {
    position: absolute;
    width: 2395px;
    height: 202px;
    top: 3785px;
    left: -2661px;
  }
  
  .DESKTOP-home-page .rectangle-18 {
    position: absolute;
    width: 1200px;
    height: 64px;
    top: 0;
    left: 148px;
  }
  
  .DESKTOP-home-page .group-23 {
    position: absolute;
    width: 2395px;
    height: 141px;
    top: 61px;
    left: 0;
  }
  
  .DESKTOP-home-page .group-24 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3896px;
    margin-right: -1476.92px;
  }
  
  .DESKTOP-home-page .group-25 {
    margin-top: -3896px;
    margin-right: -1735.34px;
    position: relative;
    width: 37.42px;
    height: 36px;
  }
  
  .DESKTOP-home-page .group-26 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3896px;
    margin-right: -2002.75px;
  }
  
  .DESKTOP-home-page .group-27 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3896px;
    margin-right: -2272.17px;
  }
  
  .DESKTOP-home-page .group-28 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3896px;
    margin-right: -2530.58px;
  }
  
  .DESKTOP-home-page .group-29 {
    position: relative;
    width: 37.42px;
    height: 36px;
    margin-top: -3896px;
    margin-right: -2798px;
  }
  
  .DESKTOP-home-page .group-30 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 54px;
    left: 1963px;
  }
  
  .DESKTOP-home-page .group-31 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 54px;
    left: 2221px;
  }
  
  .DESKTOP-home-page .group-32 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 54px;
    left: 2489px;
  }
  
  .DESKTOP-home-page .vector-5 {
    position: fixed;
    width: 24px;
    height: 19px;
    top: 5847px;
    left: 1112px;
  }
  